@font-face {
    font-family: 'Digital';
    src: url('Digital-Regular.woff2') format('woff2'),
        url('Digital-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital';
    src: url('Digital-Italic.woff2') format('woff2'),
        url('Digital-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Digital';
    src: url('Digital-BoldItalic.woff2') format('woff2'),
        url('Digital-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Digital';
    src: url('Digital.woff2') format('woff2'),
        url('Digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital';
    src: url('DigitalThin.woff2') format('woff2'),
        url('DigitalThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magneto';
    src: url('Magneto-Bold.woff2') format('woff2'),
        url('Magneto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ROG Fonts v1.6';
    src: url('ROGFontsv16-Regular.woff2') format('woff2'),
        url('ROGFontsv16-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

